*{
    margin: 0;
    padding: 0;
}
/* ----------- navbar ------------ */
.navbara{
    display: flex;
    justify-content: space-around;
    gap: 15rem;
    list-style: none;
    align-items: center;
    width: 100%;
    background-color: #d7e8ef;
}

.navbara a{
    color: black;
    text-decoration: none;
}

.navbara img{
    transform: rotate(-15deg);
}

.nav-izq{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.actual{
    outline: 2px solid black;
    outline-offset: 5px;
}

.routes{
    display: flex;
    gap: 3rem
}


/* --------- contenido principal ---------- */
.contenido-principal{
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    background-color: #d7e8ef;
}

.contenido-principal img{
    width: 100vh;
    transform: rotate(90deg);
}

.contenido-principal h1{
    font-family: 'Edu SA Beginner', cursive;
    font-size: 60px;
}

.contenido-principal p, .contenido-principal li{
    font-family: 'Edu SA Beginner', cursive;
    font-size: 20px;
}

.conte-botonsito button{
    border-radius: 50px;
}

/* --- cont derecha -- */
.cont-der{
    width: 560px;
}

.conte-tit{
    color: #656bbc;
    display: flex;
    justify-content: center;
    align-items: baseline; 
}

.conte-tit h1{
    font-size: 250px;
}

.conte-tit p{
    font-size: 50px;
}

.conte-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.conte-cont h2{
    font-size: 20px;
}




/* ------------- contenido secundario -------------- */

.contenido-secundario{
    background-color: #ffffff;
    display: flex;
    /* justify-content: space-around; */
}

.conte-tit-segundo{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.conte-tit-segundo h1{
    font-size: 50px;
}

.parrafo{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.parrafo-card{
    width: 200px;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: 0px 20px 10px #d7e8ef;
}


.parrafo-card img{
    width: 100px;
    height: 100px;
} 


/* ----------contenido-about ----------- */
.contenido-about {
    margin-top: 50px;
    background-color: #595bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 100vh;
}

.carousel-inner img {
    width: 500px;
    height: 500px;
}
#carouselExampleAutoplaying {
    max-width: 500px;  /* Ajusta el ancho máximo del carrusel */
}

.contenido-about-derecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 500px;
    text-align: center;
}

.contenido-about-derecha-linea{
    margin: 20px;
    background-color: white;
    height: 10px;
    width: 200px;
    border-radius: 20px;
}
