<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/admin/facturas.css">
    <title>CiclySan</title>
    <link rel="icon" href="../img/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbara">
            <div>
                <a href="index.html" class="nav-izq">
                    <img width="50px" src="../../img/311822.svg" alt="Alo xd">
                    <h1>CicliSan</h1>
                </a>
            </div>
            <div class="routes">
                <a id="welcomeMessage" href="#">Bienvenido</a>
                <a class="cerrar" href="../login/login.html" id="logout">Cerrar sesión</a>
            </div>
        </nav>
    </header>
    
    <main>
        <div class="contenido">
            <div class="cont-izq">
                <a href="rutas.html">Rutas</a>
                <a href="noticias.html">Noticias</a>
                <a href="productos.html">Productos</a>
                <a href="usuarios.html">Usuarios</a>
                <a class="seleccionado" href="facturas.html">Facturas</a>
                <a href="envios.html">Envios</a>
                <a href="calificación.html">Calificación</a>
            </div>
            <div class="cont-dere">
                <div class="titulo">
                    <div class="conte-tit">
                        <h1>Facturas</h1>
                    </div>
                    <div class="boton">
                        <button type="button" class="btn btn-light boton" data-bs-toggle="modal"
                            data-bs-target="#exampleModal"><img width="20px"
                                src="https://img.freepik.com/iconos-gratis/agregar_318-921148.jpg" alt=""></button>
                    </div>
                </div>
                <div class="tablas">
                    <table class="table">
                        <thead>
                          <tr class="table-dark">
                            <th class="color-tabl" scope="col">Fecha factura</th>
                            <th class="color-tabl" scope="col">Cantidad de productos</th>
                            <th class="color-tabl" scope="col">Total $</th>
                            <th class="color-tabl" scope="col">Forma de pago</th>
                            <th class="color-tabl" scope="col">Id factura</th>
                            <th class="color-tabl" scope="col">Detalles</th>
                          </tr>
                        </thead>
                        <tbody id="tabla">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Registro facturas</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" class="formulario formu row">
                        <div class="">
                            <label for="" class="form-label">Fecha Factura</label>
                            <input type="date" class="form-control fecha" required>
                        </div>
                        <div class="">
                            <label for="numero_factura" class="form-label">Número de Factura</label>
                            <input type="text" id="" class="form-control numero_factura" required readonly>
                        </div>
                        <div class="">
                            <label for="selectProductos" class="form-label">Productos</label>
                            <select id="selectProductos" class="form-select" required></select>
                        </div>
                        <div>
                            <label for="cantidadProducto">Cantidad</label>
                            <input type="number" id="" class="form-control cantidadProducto" min="1" required>
                            <button type="button" onclick="agregarProducto()">Agregar producto</button>
                        </div>
                        <ul id="listaProductos"></ul>
                        <div class="">
                            <label for="total" class="form-label">Total</label>
                            <input type="number" id="" class="form-control total" readonly>
                        </div>
                        <div class="">
                            <label class="form-label">Forma de pago</label>
                            <select id="tipo_tarjeta" class="form-select tipo_pago" required>
                                <option value="" disabled selected>Selecciona el tipo de tarjeta</option>
                                <option value="Visa">Visa</option>
                                <option value="MasterCard">MasterCard</option>
                            </select>
                        </div>
                        <div id="camposTarjeta" style="display: none;">
                            <div class="">
                                <label for="numero_tarjeta" class="form-label">Número de Tarjeta</label>
                                <input type="text" id="" class="form-control numero_tarjeta" required>
                            </div>
                            <div class="">
                                <label for="fecha_expiracion" class="form-label">Fecha de Expiración</label>
                                <input type="text" id="" class="form-control fecha_expiracion" placeholder="MM/AA" required>
                            </div>
                            <div class="">
                                <label for="cvv" class="form-label">CVV</label>
                                <input type="text" id="" class="form-control cvv" required>
                            </div>
                            <div class="">
                                <label for="nombre_titular" class="form-label">Nombre del Titular</label>
                                <input type="text" id="" class="form-control nombre_titular" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="updateee" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateee">Actualizar Datos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="updateFormu">
                        <input type="hidden" id="updId">
                        <div>
                            <label for="fecha" class="form-label">Fecha Factura</label>
                            <input type="date" id="fecha" class="form-control" required>
                        </div>
                        <div>
                            <label for="numero_factura" class="form-label">Código factura</label>
                            <input type="text" id="numero_factura" class="form-control" required>
                        </div>
                        <div>
                            <label class="form-label">Productos</label>
                            <div id="productosContainer"></div>
                            <button type="button" id="addProductoBtn" class="btn btn-primary mt-2">Agregar Producto</button>
                        </div>
                        <div>
                            <label for="forma_pago" class="form-label">Forma de pago</label>
                            <select id="forma_pago" class="form-select" required>
                                <option selected disabled>Selecciona una forma de pago</option>
                                <option value="Visa">Visa</option>
                                <option value="MasterCard">MasterCard</option>
                            </select>
                        </div>
                        <div>
                            <label for="numero_tarjeta" class="form-label">Número de Tarjeta</label>
                            <input type="text" id="numero_tarjeta" class="form-control">
                        </div>
                        <div>
                            <label for="fecha_expiracion" class="form-label">Fecha de Expiración</label>
                            <input type="text" id="fecha_expiracion" class="form-control">
                        </div>
                        <div>
                            <label for="cvv" class="form-label">CVV</label>
                            <input type="text" id="cvv" class="form-control">
                        </div>
                        <div>
                            <label for="nombre_titular" class="form-label">Nombre del Titular</label>
                            <input type="text" id="nombre_titular" class="form-control">
                        </div>
                        <div>
                            <label for="total" class="form-label">Total</label>
                            <input type="number" id="total" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/facturas/facturaAdmin.js" type="module"></script>
</body>

</html>