<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/admin/ruta.css">
    <title>CiclySan</title>
    <link rel="icon" href="../img/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbara">
            <div>
                <a href="index.html" class="nav-izq">
                    <img width="50px" src="../../img/311822.svg" alt="Alo xd">
                    <h1>CicliSan</h1>
                </a>
            </div>
            <div class="routes">
                <a id="welcomeMessage" href="#">Bienvenido</a>
                <a class="cerrar" href="../login/login.html" id="logout">Cerrar sesión</a>
            </div>
        </nav>
    </header>
    
    <main>
        <div class="contenido">
            <div class="cont-izq">
                <a class="seleccionado" href="rutas.html">Rutas</a>
                <a href="noticias.html">Noticias</a>
                <a href="productos.html">Productos</a>
                <a href="usuarios.html">Usuarios</a>
                <a href="facturas.html">Facturas</a>
                <a href="envios.html">Envios</a>
            </div>
            <div class="cont-dere">
                <div class="titulo">
                    <div class="conte-tit">
                        <h1>Rutas</h1>
                    </div>
                    <div class="boton">
                        <button type="button" class="btn btn-light boton" data-bs-toggle="modal"
                            data-bs-target="#exampleModal"><img width="20px"
                                src="https://img.freepik.com/iconos-gratis/agregar_318-921148.jpg" alt=""></button>
                    </div>
                </div>
                <div class="tablas">
                    <table class="table">
                        <thead>
                          <tr class="table-dark">
                            <th class="color-tabl" scope="col">Nombre Ruta</th>
                            <th class="color-tabl" scope="col">Descripción</th>
                            <th class="color-tabl" scope="col">Dificultad</th>
                            <th class="color-tabl" scope="col">kilometros</th>
                            <th class="color-tabl" scope="col">Detalles</th>
                          </tr>
                        </thead>
                        <tbody id="tabla">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Registro ruta</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" class="formulario formu row">
                        <div class="">
                            <label for="exampleInputEmail1" class="form-label">Nombre de la ruta</label>
                            <input type="text" class="form-control nombreRut" id="exampleInputEmail1">
                        </div>
                        <div class="">
                            <label class="form-label">Descripcion</label>
                            <textarea class="descripcion form-control" id="exampleFormControlTextarea1"
                                rows="3"></textarea>
                        </div>
                        <div class="col-6">
                            <label class="form-label md-6">Dificultad</label>
                            <select name="" id="" class="form-select dificultad">
                                <option selected>-Clasificación-</option>
                                <option value="Dificil">Dificil</option>
                                <option value="Mediana">Mediana</option>
                                <option value="Baja">Baja</option>
                            </select>
                        </div>
                        <div class="">
                            <label class="form-label">Estado</label>
                            <select name="" id="" class="form-select estado">
                                <option selected>Visible</option>
                                <option value="Visible">Visible</option>
                                <option value="Invisible">Invisible</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label class="form-label">kilometros</label>
                            <input type="number" class="form-control kilometros">
                        </div>
                        <div class="">
                            <label class="form-label">Tiempo aprox</label>
                            <input type="text" class="form-control tiempo_aprox">
                        </div>
                        <div class="col-6">
                            <label class="form-label">Altitud min</label>
                            <input type="text" class="form-control altitud_min">
                        </div>
                        <div class="col-6">
                            <label class="form-label">Altitud max</label>
                            <input type="text" class="form-control altitud_max">
                        </div>

                        <div class="">
                            <label class="form-label">Estado</label>
                            <select name="" id="" class="form-select dificultad">
                                <option selected>Visible</option>
                                <option value="Dificil">Visible</option>
                                <option value="Mediana">Invisible</option>
                            </select>
                        </div>

                        <div class="">
                            <label class="form-label">Imagen</label>
                            <input type="file" class="form-control imagenn">
                        </div>
                        <div class="">
                            <label class="form-label">Link</label>
                            <input type="text" class="form-control link" >
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="updateee" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateee">Update Datos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input style="display: none;" type="text" id="updId">
                        <div class="">
                            <label for="exampleInputEmail1" class="form-label">Nombre de la ruta</label>
                            <input type="text" class="form-control" id="nombreRut">
                        </div>
                        <div class="">
                            <label class="form-label">Descripcion</label>
                            <textarea class="form-control" id="descripcion"
                                rows="3"></textarea>
                        </div>
                        <div class="col-6">
                            <label class="form-label md-6">Dificultad</label>
                            <select name="" id="dificultad" class="form-select">
                                <option selected>-Clasificación-</option>
                                <option value="Dificil">Dificil</option>
                                <option value="Mediana">Mediana</option>
                                <option value="Baja">Baja</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label class="form-label">kilometros</label>
                            <input type="number" class="form-control" id="kilometros">
                        </div>
                        <div class="">
                            <label class="form-label">Tiempo aprox</label>
                            <input type="text" class="form-control" id="tiempo_aprox">
                        </div>
                        <div class="col-6">
                            <label class="form-label">Altitud min</label>
                            <input type="text" class="form-control" id="altitud_min">
                        </div>
                        <div class="col-6">
                            <label class="form-label">Altitud max</label>
                            <input type="text" class="form-control" id="altitud_max">
                        </div>
                        <div class="">
                            <label class="form-label">Estado</label>
                            <select name="" id="" class="form-select dificultad">
                                <option selected>Visible</option>
                                <option value="Dificil">Visible</option>
                                <option value="Mediana">Invisible</option>
                            </select>
                        </div>
                        <div class="">
                            <label class="form-label">Imagen</label>
                            <input type="file" class="form-control" id="imagennn">
                        </div>
                        <div class="">
                            <label class="form-label">Link</label>
                            <input type="text" class="form-control" id="link">
                        </div>
                        <button type="submit" id="btnUpdate" class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/rutas/rutaAdmin.js" type="module"></script>
</body>

</html>