<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleIndex.css">
    <title>CiclySan</title>
    <link rel="icon" href="../img/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbara">
            <div>
                <a href="index.html" class="nav-izq">
                    <img width="50px" src="../img/311822.svg" alt="Alo xd">
                    <h1>CicliSan</h1>
                </a>
            </div>
            <div>
                <li class="routes">
                    <a class="actual" href="index.html">Inicio</a>
                    <a href="rutas.html">Rutas</a>
                    <a href="store.html">Store</a>
                    <a href="noticia.html">Noticias</a>
                    <a href="login/login.html">Iniciar sesión</a>
                    <!-- <img width="50px" src="../img/puerta-abierta.png" alt="Alo xd"> -->
                </li>
            </div>
        </nav>
    </header>
    <main>
        <div class="contenido-principal">
            <div class="contenido-principal-imagen">
                <img src="../img/llantamovimiento-unscreen.gif" alt="se fue xd">
            </div>
            <div class="cont-der">
                <div class="conte-tit">
                    <h1>Cicli</h1>
                    <p>San</p>
                </div>
                <div class="conte-cont">
                    <h2>
                        Encontraras diferentes rutas ciclísticas en la
                        cual podrás practicar, encontraras mucha diversidad ya
                        sea el tipo de bicicleta, tu categoría (edad), clasificación
                        (dificultad) y demás elementos.
                    </h2>
                    <h2>
                        Encontraras la opción de registrarte, esto te servirá si
                        quieres agregar nuevas rutas, además una tienda virtual
                        ciclistica y un apartado de noticias de este mundo
                    </h2>
                </div>
                <div class="conte-botonsito  d-flex justify-content-start">
                    <button href="conocermas" class="btn btn-danger">Conoce más</button>
                </div>

            </div>
        </div>

        <div class="contenido-secundario">
            <div class="imagen-chitosa">
                <img class="santanderr" src="../img/zyro-image-removebg-preview.png" alt="se fue xd">
            </div>
            <div class="conte-tit-segundo">
                <h1>Recomendaciones</h1>
                <h2>Antes de reapzar cualquier ruta tenga encuenta las siguientes recomendaciones:</h2>
                <div class="parrafo">
                    <div class="parrafo-card">
                        <img src="../img/casco-de-bicicleta.png" alt="" srcset="">
                        <p>Llevar casco</p>
                    </div>
                    <div class="parrafo-card">
                        <img src="../img/ciclistas.png" alt="" srcset="">
                        <p>Lleva un o varios acompañantes (Mejor en grupo)</p>
                    </div>
                    <div class="parrafo-card">
                        <img src="../img/bebidas-sin-alcohol.png" alt="" srcset="">
                        <p>Lleva buena hidratación</p>
                    </div>
                    <div class="parrafo-card">
                        <img src="../img/bocadillo.png" alt="" srcset="">
                        <p>Lleva comida energizante por ejemplo bocadillo para recargar energías</p>
                    </div>
                    <div class="parrafo-card">
                        <img src="../img/soleado.png" alt="" srcset="">
                        <p>Como sugerencia es mejor practicar en la mañana (Por seguridad)</p>
                    </div>
                    <div class="parrafo-card">
                        <img src="../img/precaucion.png" alt="" srcset="">
                        <p>Tener mucha precaución en la carretera</p>
                    </div>
                    <div class="parrafo-card">
                        <img src="../img/configuraciones.png" alt="" srcset="">
                        <p>Llevar material para despinchar</p>
                    </div>
                    <div class="parrafo-card">
                        <img src="../img/enfermo.png" alt="" srcset="">
                        <p>No salir enfermo a practicar este deporte</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenido-about" id="conocermas">
            <div class="contenido">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel"
                    data-bs-interval="2000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./../img/card1-removebg-preview.png" class="d-block" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="./../img/cicla.png" class="d-block" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="./../img/card3-removebg-preview.png" class="d-block" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="./../img/card4.jpg" class="d-block" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="contenido-about-derecha">
                <h1>Sobre nosotros</h1>
                <div class="contenido-about-derecha-linea">
                </div>
                <p>Es una pagina web dedicada enfocada para los ciclistas en
                    Santander - Colombia, le permitira a las personas encontrar distintas rutas
                    a las que pueden ir realizando el ciclismo.
                </p>
                <p>
                    Esta página está como ayuda a los ciclistas ya encontrará distintas
                    rutas a las cuales puede ir realizando el ciclismo
                </p>
                <p>Si desea contactase con nosotros lo puedes hacer mediante este código QR</p>
                <p>Podrá enviar sugerencias, ayudas y demás.</p>
                <p>El objetivo también es crear un grupo de ciclistas para formar una red de apacionados a este deporte y salir en grupo a practicar.</p>
                <img src="../img/qr.png" alt="">
            </div>
        </div>
    </main>
</body>

</html>