<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/rutas.css">
    <title>CiclySan</title>
    <link rel="icon" href="../img/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbara">
            <div>
                <a href="index.html" class="nav-izq">
                    <img width="50px" src="../img/311822.svg" alt="Alo xd">
                    <h1>CicliSan</h1>
                </a>
            </div>
            <div>
                <li class="routes">
                    <a href="index.html">Inicio</a>
                    <a class="actual" href="rutas.html">Rutas</a>
                    <a href="store.html">Store</a>
                    <a href="noticia.html">Noticias</a>
                    <span id="user-info"></span>
                </li>
            </div>
        </nav>
    </header>
    <div class="titulo">
        <div class="vacio">
        </div>
        <div class="conte-tit">
            <h1>Rutas</h1>
        </div>
        <div class="boton hidden">
            <button type="button" class="btn btn-light boton" data-bs-toggle="modal"
                data-bs-target="#exampleModal"><img width="20px"
                    src="https://img.freepik.com/iconos-gratis/agregar_318-921148.jpg" alt=""></button>
        </div>
    </div>
    <main>
        <div class="contenido">
            <div class="cont-der">
            
            </div>
        </div>
    </main>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Registro ruta</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" class="formulario formu row">
                        <div class="">
                            <label for="exampleInputEmail1" class="form-label">Nombre de la ruta</label>
                            <input type="text" class="form-control nombreRut" id="exampleInputEmail1" placeholder="Ej: Bucaramanga - Girón" required>
                        </div>
                        <div class="">
                            <label class="form-label">Descripcion</label>
                            <textarea class="descripcion form-control" id="exampleFormControlTextarea1"
                                rows="3" required></textarea>
                        </div>
                        <div class="col-6">
                            <label class="form-label">Punto de partida</label>
                            <input type="text" class="form-control punto_partida" placeholder="Ej: Bucaramanga" required>
                        </div>
                        <div class="col-6">
                            <label class="form-label">Punto de llegada</label>
                            <input type="text" class="form-control punto_llegada" placeholder="Ej: Girón" required> 
                        </div>
                        <div class="col-6">
                            <label class="form-label md-6">Dificultad</label>
                            <select name="" id="" class="form-select dificultad" required>
                                <option selected>-Clasificación-</option>
                                <option value="Dificil">Dificil</option>
                                <option value="Mediana">Mediana</option>
                                <option value="Baja">Baja</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label class="form-label">kilometros</label>
                            <input type="number" class="form-control kilometros" placeholder="20" required>
                        </div>
                        <div class="">
                            <label class="form-label">Tiempo aproximado (No requerido)</label>
                            <input type="text" class="form-control tiempo_aprox">
                        </div>
                        <div class="col-6">
                            <label class="form-label">Altitud min (No requerido)</label>
                            <input type="number" class="form-control altitud_min">
                        </div>
                        <div class="col-6">
                            <label class="form-label">Altitud max (No requerido)</label>
                            <input type="number" class="form-control altitud_max">
                        </div>
                        <div class="">
                            <label class="form-label">Recomendaciones (No requerido)</label>
                            <textarea class="recomendaciones form-control" id="exampleFormControlTextarea1"
                                rows="2"></textarea>
                        </div>
                        <div class="">
                            <label class="form-label">Imagen (No requerido)</label>
                            <input type="file" class="form-control imagenn">
                        </div>
                        <div class="">
                            <label class="form-label">Link de rutas (google maps - No requerido)</label>
                            <input type="text" class="form-control link">
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/rutas/ruta.js" type="module"></script>
</body>

</html>