<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/store.css">
    <title>CiclySan</title>
    <link rel="icon" href="../img/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbara">
            <div>
                <a href="index.html" class="nav-izq">
                    <img width="50px" src="../img/311822.svg" alt="Alo xd">
                    <h1>CicliSan</h1>
                </a>
            </div>
            <div>
                <li class="routes">
                    <a href="index.html">Inicio</a>
                    <a href="rutas.html">Rutas</a>
                    <a class="actual" href="store.html">Store</a>
                    <a href="noticia.html">Noticias</a>
                    <span id="user-info"></span>
                    <div class="derecha-na">
                        <div class="derecha-carro">
                            <img width="40px" onclick="showCart(this)" class="cart" src="../img/carrito.png" alt="">
                            <p class="count-product">0</p>
                        </div>
                    </div>
                    <div class="cart-products" id="products-id">
                        <p class="close-btn" onclick="closeBtn()">X</p>
                        <h3>Mi carrito</h3>
                        <div class="card-items">
                            
                        </div>
                        <h2>Total: $<strong class="price-total">0</strong></h2>
                        <button data-bs-toggle="modal" data-bs-target="#facturaModal">Comprar<img width="20px" class="cart" src="../img/carrito.png" alt=""></button>
                    </div>
                </li>
            </div>
        </nav>
    </header>
    <main>
        <div class="titulo">
            <div class="tipo">
            </div>
            <div class="conte-tit">
                <h1>Store</h1>
            </div>
            <div class="tipo">
            </div>
        </div>
        <div class="tit-montanera">
            <h1>Biclicletas Montañeras</h1>
        </div>
        <div class="contenido">
        </div>
        <div class="tit-montanera">
            <h1>Biclicletas Ruta</h1>
        </div>
        <div class="contenidoRuta">
            
        </div>
        <div class="tit-montanera">
            <h1>Accesorios</h1>
        </div>
        <div class="contenidoAccesorio">
            
        </div>
       

        <!-- Modal para la Factura -->
        <div class="modal fade" id="facturaModal" tabindex="-1" aria-labelledby="facturaModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="facturaModalLabel">Registro de Factura</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="facturaForm" class="formulario formu" novalidate>
                            <div class="mb-3">
                                <label class="form-label">Número de Factura</label>
                                <input type="text" class="form-control" id="numeroFactura" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Fecha</label>
                                <input type="text" class="form-control" id="fecha" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Total</label>
                                <input type="text" class="form-control" id="total" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Forma de Pago</label>
                                <div class="mb-2">
                                    <label class="form-label">Tipo de Tarjeta</label>
                                    <select class="form-select" id="tipoTarjeta" required>
                                        <option value="" disabled selected>Seleccione una opción</option>
                                        <option value="Visa">Visa</option>
                                        <option value="MasterCard">MasterCard</option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label class="form-label">Número de Tarjeta</label>
                                    <input type="number" class="form-control" id="numeroTarjeta" placeholder="Ej. 1234 5678 9012 3456" min="0" max="9999999999999999" required>
                                </div>
                                <div class="mb-2">
                                    <label class="form-label">Nombre del Titular</label>
                                    <input type="text" class="form-control" id="nombreTitular" placeholder="Ej. Juan Pérez" required>
                                </div>
                                <div class="mb-2">
                                    <label class="form-label">Fecha de Expiración</label>
                                    <input type="text" class="form-control" id="fechaExpiracion" placeholder="MM/AA" pattern="\d{2}/\d{2}" required>
                                </div>
                                <div class="mb-2">
                                    <label class="form-label">CVV</label>
                                    <input type="number" class="form-control" id="cvv" placeholder="Ej. 123" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" >Enviar</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de Envío -->
        <div class="modal fade" id="modalEnvio" tabindex="-1" aria-labelledby="modalEnvioLabel" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalEnvioLabel">Datos de Envío</h5>
                    </div>
                    <div class="modal-body">
                        <form id="envioForm">
                            <div class="mb-3">
                                <label for="facturaId" class="form-label">Id factura</label>
                                <input type="text" class="form-control" id="facturaId" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="correo" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="correo" required>
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" required>
                            </div>
                            <div class="mb-3">
                                <label for="cedula" class="form-label">Cédula</label>
                                <input type="number" class="form-control" id="cedula" required>
                            </div>
                            <div class="mb-3">
                                <label for="direccion" class="form-label">Dirección</label>
                                <input type="text" class="form-control" id="direccion" required>
                            </div>
                            <div class="mb-3">
                                <label for="pais" class="form-label">Pais</label>
                                <input type="text" class="form-control" id="pais" required>
                            </div>
                            <div class="mb-3">
                                <label for="departamento" class="form-label">Departamento</label>
                                <input type="text" class="form-control" id="departamento" required>
                            </div>
                            <div class="mb-3">
                                <label for="ciudad" class="form-label">Ciudad</label>
                                <input type="text" class="form-control" id="ciudad" required>
                            </div>
                            <div class="mb-3">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <input type="number" class="form-control" id="telefono" required>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="guardarEnvio">Guardar Envío</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="module" src="../js/productos/producto.js"></script>
    <script>
        function showCart(x){
            document.getElementById("products-id").style.display = "block";
        }
        function closeBtn(){
             document.getElementById("products-id").style.display = "none";
        }

        function abrirFacturaModal() {
            const facturaModal = new bootstrap.Modal(document.getElementById('facturaModal'));
            facturaModal.show();
        }

        function abrirEnvioModal() {
            const facturaModalEl = document.getElementById('facturaModal');
            const envioModal = new bootstrap.Modal(document.getElementById('modalEnvio'));
            
            const facturaModal = bootstrap.Modal.getInstance(facturaModalEl);
            facturaModal.hide();
            envioModal.show();
        }

        const inputNumeroTarjeta = document.getElementById('numeroTarjeta');

        inputNumeroTarjeta.addEventListener('input', function() {
            const valor = inputNumeroTarjeta.value.toString();
            
            if (valor.length > 16) {
                inputNumeroTarjeta.value = valor.slice(0, 16);
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
</body>
</html>