<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CiclySan</title>
    <link rel="stylesheet" href="../../css/login.css">
</head>

<body>
    <header>

    </header>
    <main>
        <div class="contenido">
            <form class="formulario" action="">
                <div class="contenido-general">
                    <div class="rendondo">
                        <img width="80px" src="../../img/311822.svg" alt="">
                    </div>
                    <div class="">
                        <input type="email" class="correo" type="text" placeholder="👤 Correo" required>
                    </div>
                    <div>
                        <input class="password" type="password" placeholder="🔓 Password" required>
                    </div>
                    <div class="abajo">
                        <button type="submit">Enviar</button>
                        <a href="registrar.html">Registrase</a>
                        <a href="../index.html">Regresar</a>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <script src="../../js/login/logg.js" type="module"></script>
</body>

</html>