<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CiclySan</title>
    <link rel="stylesheet" href="../../css/registro.css">
    
</head>
<body>
    <header>

    </header>
    <main>
        <div class="contenido">
            <form class="contenido-general formu">
                <input type="text" class="nombre" placeholder="   Nombre">
                <input type="email" required class="correo" placeholder="   Correo">
                <input type="password" class="password" placeholder="   🔓 Password">
                <input type="number" class="telefono" placeholder="   Telefono">
                <input type="text" class="rol" value="USER" placeholder="   Tipo">
                <button class="button" type="submit">Registrase</button>
                <a href="login.html">Regresar</a>
            </form>
        </div>
    </main>
    <script src="../../js/login/new.js" type="module"></script>
</body>
</html>